<html>
  <head>
    <style>
      .fb-color{
        background-color: #3b539b
      }
      .text-logo{
        font-size: 30px;
        color: white;
      }
      .header_img{
        width: 33%
      }
    </style>
    <!--BOOTSTRAP CSS import-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
<body>
  <!--Navbar-->
  <nav class="navbar navbar-dark fb-color">
    <a class="text-logo navbar-brand" href="/">Catbook</a>
    <a href="{{url_for('create_new_cat')}} ">add a new cat</a>
    <form class="form-inline">

      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>

    </form>
  </nav>
  <!--Navbar End-->
  <!-- <img class="header_img mx-auto d-block" src="{{url_for('static', filename='images/catbook_logo.jpg')}}"> -->
<form action="/create", method="post">
  <div class="form-group">
    <label style="font-size: 50">Cat's name</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="Help" placeholder="Enter cat's name">
    <br>
    <p> By submiting this form, you will creat your cat a poblice account on Catbook. everyone can vote for him now !!! </p>
    <br>
    <button type="submit" class="btn btn-danger" > Submit </button>
  </div>
  
</form>
  <!--BOOTSTRAP Javascript import-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>